/*950px media query*/

@media only screen and (min-width: 950px) {

header{
	width: 100%;
	height: 100px;
}

.headerContent{
	width: 950px;
	height: 100px;
	margin: 0px auto 0px auto;
}

nav{
	display: inline-block;
	width: 500px;
	height: 50px;
	margin-top: -35px;
	float: right;
}

nav ol{

	float: right;
}

nav li{
	display: inline-block;
}

nav a{
	padding: 10px 10px 15px 10px;

}


.main{
	width: 950px;
	min-height: 800px;
	margin: 0px auto 0px auto;
	box-shadow: 4px 0 8px -4px #999 , -4px 0 8px -4px #999;
}

article{
	float: left;
	width: 680px;
	padding: 10px 10px 20px 10px;

}

article img{
	max-width: 600px;
}

.syntaxhighlighter{
	width: 660px;
	height: 300px;
	margin: 20px;
}

.speedTable{
	width: 600px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#graph{
	width: 600px;
	height: 340px;
}

aside{
	float: left;
	width: 250px;

}

.disqus{
	clear: both;
	width: 950px;
}

footer{
	width: 100%;
	height: 250px;
	margin: 0px 0px 0px 0px;
}

.footer-content{
	width: 950px;
	height: 250px;
	margin: 0px auto 0px auto;
}

.footer-content h6{
	margin: 10px 0px 0px 0px;
}

.footer-about{
	float: left;
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 20px 20px 0px 20px;
}

.footer-nav{
	float: left;
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 20px 20px 0px 20px;
}

.footer-logo{
	float:left;
	display: inline-block;
	width: 350px;
	height: 140px;
	padding: 60px 20px 0px 60px;
}




